@import "https://fonts.googleapis.com/css?family=Prosto+One";
body{
    margin: 0 auto;
    width: 100%;
    padding-top: 1em;
    background: #222;
}

.timer-digital {
    display:block;
    font-size:12em;
    line-height:0.85em
}

.timer-block {
    color: antiquewhite;
    font-family: Prosto One;
    border: 2px solid antiquewhite;
    padding-top: 10px;
    cursor: pointer;
    width: 180px;
    text-align: center;
}

.timer-container {
    display: flex;
    width: 550px;
}

.timer-body.left-pos > .timer-container,
.timer-body.left-pos > .timer-title {
    margin: 0 0 0 10%;
}
.timer-body.right-pos > .timer-container,
.timer-body.right-pos > .timer-title {
    margin: 0 0 0 35%;
}

.timer-body.left-pos > .timer-labels {
    margin: 0 0 0 6%;
}

.timer-body.right-pos > .timer-labels {
    margin: 0 0 0 31%;
}

.timer-labels {
    width: 55%;
    display: flex;
    justify-content: space-around
}

.timer-divider {
    margin: 0 10px;
}

.header {
    display: flex;
    justify-content: end;
    padding: 5px 20px 20px 0;
    margin-bottom: 20px;
}

.footer {
    margin-bottom: 10px;
}

.btn {
    border: 6px solid antiquewhite;
    text-align: center;
    color: antiquewhite;
    font-size: 4em;
    padding: 0 20px;
}

.btn-small {
    border-radius: 60%;
    width: 1em;
}

.btn-big {
    margin: 0 20px;
    padding: 20px;
}

.label, .timer-title {
    color: antiquewhite;
    font-size: 3em;
}

.timer-body {
    margin-bottom: 30px;
}